@{
    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
    pageTitle += AppDefaults.AppName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@pageTitle</title>

    <link rel="icon" type="image/png" href="~/lib/admin-lte/dist/img/AdminLTELogo.png" />

    @await Html.PartialAsync("_Styles.cshtml")
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>@AppDefaults.AppName</b></a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <small>
                    Copyright &copy; @DateTime.Now.Year
                    <b class="ml-2">Version</b>
                    @AppDefaults.Version
                    [@AppDefaults.ReleaseDate.ToString("yyyyddMM")]
                </small>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_Scripts.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>